<!--The content below is only a placeholder and can be replaced.-->

<h1 class="mat-display-1">
  {{ title }}
</h1>
<mat-card *ngIf="!log">
  <mat-form-field>
    <input matInput type="email" placeholder="Email" [(ngModel)]="email">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="password" placeholder="Password" [(ngModel)]="password">
  </mat-form-field>
  <br>
  <button mat-raised-button (click)="login()">Log in</button>
  <button mat-raised-button (click)="sign()">Sign up</button>
</mat-card>
<div *ngIf="log">
  <button mat-button (click)="openDialog()">Add</button>
  <my-table></my-table>
</div>
