<!--The content below is only a placeholder and can be replaced.-->

<h1>
  {{ title }}
</h1>
<div *ngIf="!log" class="container">
  <input type="email" placeholder="Email" [(ngModel)]="email"><br>
  <input type="password" placeholder="Password" [(ngModel)]="password"><br>
  <button mat-button (click)="login()">Log in</button>
  <button mat-button (click)="sign()">Sign up</button>
</div>
<div *ngIf="log">
  <button mat-button (click)="addForm()">Ajouter</button>
  <my-table></my-table>
</div>
<div *ngIf="add" mat-dialog-content>
  <p>New Task</p>
  <input type="text" placeholder="Name" [(ngModel)]="name"><br>
  <input type="text" placeholder="Description" [(ngModel)]="description"><br>
  <button mat-button (click)="addTask()">Ajouter</button>
</div>
